<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= lyrics %></p>
    <img src=<%= img %> alt="some_text">
    <a href=<%= next %>>Next >></a>
  </body>
</html>
